body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F3EDE1
}

.content {
  text-align: center;
  color: white;
  padding: 20px;

}

h1, p, a {
  margin-bottom: 10px;
}
